@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica,sans-serif;
	margin-bottom: 15%;
}

/* Desktop */
@media screen and (min-width: 1024px) {

  header {
    max-width: 1000px;
  }

  #header_separator {
    height: 33vh;
  }

}

/* Mobile */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  header {
  	margin-left: auto;
    margin-right: auto;
    max-width: 800px;
  }

  #header_separator {
    height: 33vh;
  }
}

#main_title {
	font-size: 80px;
	height: 33vh;
}

.a {
	text-align: left;
}

.e {
	text-align: center;
}

.d {
	text-align: right;
}

.section {
	font-size: 20px;
	max-width: 800px;
	margin-top: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

#bigger {
	font-size:200%;
}


/*
  display: -webkit-flex;
 */

.icon_list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center
}

.icon_list__element {
	display: inline-block;
	padding:12px
}

@media screen and (min-width: 45em) {
	.icon_list__element {
		padding:24px
	}
}

.icon_list__logo {
	height:24px;
	transition:0.2s
}

.icon_list__logo:hover {
	filter: grayscale(0%);
}

@media screen and (min-width: 45em) {
	.icon_list__logo {
		height: 80px;
		filter: grayscale(100%);
	}
}x