@import url('https://fonts.googleapis.com/css?family=PT+Serif');

body {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	font-family: helvetica,sans-serif;
}

@media screen and (min-width: 1024px){

  body {
    max-width: 1000px;
  }

  #header_separator {
    height: 33vh;
  }
}

@media screen and (max-device-width: 480px) and (orientation: portrait){
  
  body {
    max-width: 350px;
  }

  #header_separator {
    height: 33vh;
  }
}

#main_title {
	font-size: 80px;
	height: 33vh;
}

.a {
	text-align: left;
}

.e {
	text-align: center;
}

.d {
	text-align: right;
}

.services {
	font-size: 20px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

#bigger {
	font-size:200%;
}


/*
  display: -webkit-flex;
 */
