@import url('https://fonts.googleapis.com/css?family=PT+Serif');

html * {
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica,sans-serif;
}

/* Common CSS across resolutions */

.sub_title {
  text-align: center;
}

.content {
  text-align: justify;
}

.section {
  text-align: justify;
}

a.to_next {
  color: #000000;
  text-decoration: none;
}

a.to_next:hover {
  color: #9c9fa6;
  font-style: oblique;
}

/* Device = Desktops --> Screen = 1281px to higher resolution desktops */
@media (min-width: 1281px) {
  .main_title {
    max-width: 700px;
    height: 33vh;
    text-align: right;
  }
  .main_title_separator__up {
    height: 33vh;
  }
  .main_title_separator__down {
    height: 33vh;
  }
  .h1 {
    font-size: 80px;
  }
  .h2 {
    font-size: 60px;
  }
  .h3 {
    font-size: 40px;
  }
  .mobile-break {
    display: none;
  }
  .content {
    max-width: 750px;
    font-size: 22px;
    line-height: 40px;
  }
  .section {
    font-size: 20px;
    max-width: 800px;
    margin-top: 50%;
    margin-bottom: 30%;
  }
  .service {
    margin-bottom: 5%;
  }
  a.to_next {
    font-size: 50px;
  }
  .last_section {
    margin-bottom: 15% !important;
  }

  .bottom_space {
    margin-bottom: 10%;
  }

  /* Everything about icons' list */
  .icon_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
  }

  .icon_list__element {
    display: inline-block;
    padding:12px
  }

  .icon_list__logo {
    height:50px;
    transition:0.2s;
    filter: grayscale(100%);
  }

  .icon_list__logo:hover {
    filter: grayscale(0%);
  }
}

/* Device = Laptops, Desktops --> Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {
  .main_title {
    max-width: 700px;
    height: 33vh;
    text-align: right;
  }
  .main_title_separator__up {
    height: 33vh;
  }
  .main_title_separator__down {
    height: 33vh;
  }
  .h1 {
    font-size: 80px;
  }
  .h2 {
    font-size: 60px;
  }
  .h3 {
    font-size: 40px;
  }
  .mobile-break {
    display: none;
  }
  .content {
    max-width: 750px;
    font-size: 22px;
    line-height: 40px;
  }
  .section {
    font-size: 20px;
    max-width: 800px;
    margin-top: 50%;
    margin-bottom: 30%;
  }
  .service {
    margin-bottom: 5%;
  }
  a.to_next {
    font-size: 50px;
  }
  .last_section {
    margin-bottom: 15% !important;
  }

  .bottom_space {
    margin-bottom: 10%;
  }


  /* Everything about icons' list */
  .icon_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
  }

  .icon_list__element {
    display: inline-block;
    padding:12px
  }

  .icon_list__logo {
    height:50px;
    transition:0.2s;
    filter: grayscale(100%);
  }

  .icon_list__logo:hover {
    filter: grayscale(0%);
  }
}

/* Device = Tablets, Ipads (portrait) --> Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {
  .main_title {
    max-width: 700px;
    height: 33vh;
    text-align: right;
  }
  .main_title_separator__up {
    height: 33vh;
  }
  .main_title_separator__down {
    height: 33vh;
  }
  .h1 {
    font-size: 80px;
  }
  .h2 {
    font-size: 60px;
  }
  .h3 {
    font-size: 40px;
  }
  .mobile-break {
    display: none;
  }
  .content {
    max-width: 750px;
    font-size: 22px;
    line-height: 40px;
  }
  .section {
    font-size: 20px;
    max-width: 800px;
    margin-top: 50%;
    margin-bottom: 30%;
  }
  .service {
    margin-bottom: 5%;
  }
  a.to_next {
    font-size: 50px;
  }
  .last_section {
    margin-bottom: 15% !important;
  }

  .bottom_space {
    margin-bottom: 20%;
  }


  /* Everything about icons' list */
  .icon_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
  }

  .icon_list__element {
    display: inline-block;
    padding:12px
  }

  .icon_list__logo {
    height:50px;
    transition:0.2s;
    filter: grayscale(100%);
  }

  .icon_list__logo:hover {
    filter: grayscale(0%);
  }
}

/* Device = Tablets, Ipads (landscape) --> Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .main_title {
    max-width: 700px;
    height: 33vh;
    text-align: right;
  }
  .main_title_separator__up {
    height: 33vh;
  }
  .main_title_separator__down {
    height: 33vh;
  }
  .h1 {
    font-size: 80px;
  }
  .h2 {
    font-size: 60px;
  }
  .h3 {
    font-size: 40px;
  }
  .mobile-break {
    display: none;
  }
  .content {
    max-width: 750px;
    font-size: 22px;
    line-height: 40px;
  }
  .section {
    font-size: 20px;
    max-width: 800px;
    margin-top: 50%;
    margin-bottom: 30%;
  }
  .service {
    margin-bottom: 5%;
  }
  a.to_next {
    font-size: 50px;
  }
  .last_section {
    margin-bottom: 15% !important;
  }

  .bottom_space {
    margin-bottom: 20%;
  }


  /* Everything about icons' list */
  .icon_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
  }

  .icon_list__element {
    display: inline-block;
    padding:12px
  }

  .icon_list__logo {
    height:50px;
    transition:0.2s;
    filter: grayscale(100%);
  }

  .icon_list__logo:hover {
    filter: grayscale(0%);
  }
}

/* Device = Low Resolution Tablets, Mobiles (Landscape) --> Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
  .main_title {
    max-width: 700px;
    height: 33vh;
    text-align: right;
  }
  .main_title_separator__up {
    height: 15vh;
  }
  .main_title_separator__down {
    height: 40vh;
  }
  .h1 {
    font-size: 65px;
  }
  .h2 {
    font-size: 50px;
  }
  .h3 {
    font-size: 30px;
  }
  .mobile-break {
    display: static;
  }
  .content {
    max-width: 95%;
    font-size: 17px;
    line-height: 160%;
  }
  .section {
    font-size: 20px;
    max-width: 90%;
    margin-top: 50%;
    margin-bottom: 100%;
  }
  .service {
    margin-bottom: 5%;
  }
  a.to_next {
    font-size: 40px;
  }
  .last_section {
    margin-bottom: 40% !important;
  }

  .bottom_space {
    margin-bottom: 20%;
  }

  /* Everything about icons' list */
  .icon_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
  }

  .icon_list__element {
    display: inline-block;
    padding:12px
  }

  .icon_list__logo {
    height:24px;
    transition:0.2s;
    filter: grayscale(100%);
  }

  .icon_list__logo:hover {
    filter: grayscale(0%);
  } 
}

/* Device = Most of the Smartphones Mobiles (Portrait) --> Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
  .main_title {
    max-width: 700px;
    height: 33vh;
    text-align: right;
  }
  .main_title_separator__up {
    height: 15vh;
  }
  .main_title_separator__down {
    height: 40vh;
  }
  .h1 {
    font-size: 65px;
  }
  .h2 {
    font-size: 50px;
  }
  .h3 {
    font-size: 30px;
  }
  .mobile-break {
    display: static;
  }
  .content {
    max-width: 95%;
    font-size: 17px;
    line-height: 160%;
  }
  .section {
    font-size: 20px;
    max-width: 90%;
    margin-top: 50%;
    margin-bottom: 100%;
  }
  .service {
    margin-bottom: 5%;
  }
  a.to_next {
    font-size: 40px;
  }
  .last_section {
    margin-bottom: 70% !important;
  }

  .bottom_space {
    margin-bottom: 20%;
  }

  /* Everything about icons' list */
  .icon_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
  }

  .icon_list__element {
    display: inline-block;
    padding:12px
  }

  .icon_list__logo {
    height:24px;
    transition:0.2s;
    filter: grayscale(100%);
  }

  .icon_list__logo:hover {
    filter: grayscale(0%);
  }
}

/* Device = Smallest devices out there */
@media (max-width: 320px) {
  .main_title {
    max-width: 500px;
    height: 33vh;
    text-align: right;
  }
  .main_title_separator__up {
    height: 40vh;
  }
  .main_title_separator__down {
    height: 60vh;
  }
  .h1 {
    font-size: 45px;
  }
  .h2 {
    font-size: 30px;
  }
  .h3 {
    font-size: 15px;
  }
  .mobile-break {
    display: static;
  }
  .content {
    max-width: 95%;
    font-size: 17px;
    line-height: 160%;
  }
  .section {
    font-size: 20px;
    max-width: 90%;
    margin-top: 50%;
    margin-bottom: 100%;
  }
  .service {
    margin-bottom: 5%;
  }
  a.to_next {
    font-size: 40px;
  }
  .last_section {
    margin-bottom: 70% !important;
  }

  .bottom_space {
    margin-bottom: 20%;
  }

  /* Everything about icons' list */
  .icon_list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center
  }

  .icon_list__element {
    display: inline-block;
    padding:12px
  }

  .icon_list__logo {
    height:24px;
    transition:0.2s;
    filter: grayscale(100%);
  }

  .icon_list__logo:hover {
    filter: grayscale(0%);
  }
}
